<component name="ArtifactManager">
  <artifact type="war" name="springmvc_day01:war">
    <output-path>$PROJECT_DIR$/SpringMVCLabs/springmvc_day01/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springmvc_day01</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="springmvc_day01.war">
      <element id="artifact" artifact-name="springmvc_day01:war exploded" />
    </root>
  </artifact>
</component>