<component name="ArtifactManager">
  <artifact type="war" name="springmvcday01_1:war">
    <output-path>$PROJECT_DIR$/SpringMVCLabs/springmvcday01_1/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springmvcday01_1</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="springmvcday01_1.war">
      <element id="artifact" artifact-name="springmvcday01_1:war exploded" />
    </root>
  </artifact>
</component>