<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

<!--    <bean id="person" class="com.yukangming.basic.Person"/>-->
<!--    <bean id="person1" class="com.yukangming.basic.Person"/>-->


    <bean id="person" class="com.yukangming.basic.Person">
        <property name="id">
            <value>10</value>
        </property>
        <property name="name">
            <value>xiaojr</value>
        </property>
        <property name="emails">
            <list>
                <value>nashinianshaoyuyu@gmail.com</value>
                <value>1540622095@qq.com</value>
            </list>
        </property>
        <property name="tels">
            <set>
                <value>123456</value>
                <value>14567999</value>
                <value>16677333</value>
            </set>
        </property>
        <property name="addresses">
            <list>
                <value>china</value>
                <value>england</value>
                <value>hongkong</value>
            </list>
        </property>
        <property name="qqs">
            <map>
                <entry>
                    <key><value>yukangming</value></key>
                    <value>1540622095</value>
                </entry>
                <entry>
                    <key><value>zhangjunhun</value></key>
                    <value>289931618</value>
                </entry>
            </map>
        </property>
        <property name="p">
            <props>
                <prop key="key1">KangmingYu</prop>
                <prop key="key2">Kangkang</prop>
            </props>
        </property>
    </bean>

<!--    <bean id="userService" class="com.yukangming.basic.UserServiceImpl">-->
<!--        <property name="userDao">-->
<!--            <bean class="com.yukangming.basic.UserDaoImpl"/>-->
<!--        </property>-->
<!--    </bean>-->

    <bean id="userDao" class="com.yukangming.basic.UserDaoImpl"/>

    <bean id="userService" class="com.yukangming.basic.UserServiceImpl">
        <property name="userDao">
            <ref bean="userDao"/>
        </property>
    </bean>

    <bean id="customer" class="com.yukangming.basic.constructer.Customer">
        <constructor-arg name="name" value="yukangming2"/>
        <constructor-arg name="age" value="19"/>
    </bean>

<!--    <bean id="conn" class="com.yukangming.factorybean.ConnectionFactoryBean">-->
<!--        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>-->
<!--        <property name="url" value="jdbc:mysql://localhost:3306/comment?useSSL=false"/>-->
<!--        <property name="userName" value="root"/>-->
<!--        <property name="password" value="ykm18325240045"/>-->
<!--    </bean>-->

<!--    <bean id="connFactory" class="com.yukangming.factorybean.ConnectionFactory"/>-->

<!--    <bean id="conn" factory-bean="connFactory" factory-method="getConnection"/>-->


    <bean id="conn" class="com.yukangming.factorybean.StaticConnectionFactory" factory-method="getConnection"/>

    <bean id="account" scope="singleton" class="com.yukangming.scope.Account"/>

    <bean id="product" class="com.yukangming.life.Product" lazy-init="true" init-method="myInit" destroy-method="destroy">
        <property name="productName" value="heiheihei"/>
    </bean>

    <bean id="userService1" class="com.yukangming.proxy.UserServiceImpl"/>

    <bean id="before" class="com.yukangming.dynamic.Before"/>

    <bean id="arround" class="com.yukangming.dynamic.Arround"/>

    <aop:config>
        <aop:pointcut id="pc" expression="execution(* *(..))"/>
        <aop:advisor advice-ref="arround" pointcut-ref="pc"/>
    </aop:config>


</beans>